{
    "arrowParens": "always",
    "semi": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "singleQuote": false,
    "useTabs": false
}
  